.ipynb_checkpoints
.vscode
/Capstone/Arvato_Project/arvato_data/Udacity_AZDIAS_052018.csv
/Capstone/Arvato_Project/arvato_data/Udacity_CUSTOMERS_052018.csv
/Capstone/Arvato_Project/arvato_data/Udacity_MAILOUT_052018_TRAIN.csv
/Capstone/Arvato_Project/arvato_data/Udacity_MAILOUT_052018_TEST.csv